<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 名称空间，指定对哪个接口进行映射-->
<mapper namespace="com.system.mapper.DataMapper">
    <!--
        select 表示执行查询sql
            id 唯一； 必须与接口中方法名称一致。
            resultType 表示执行查询SQL封装的实体类对象。如果放回集合，只需要指定集合中元素的类型即可。
            标签体中存放要执行的select语句 
    -->

  <resultMap id="dataMap" type="com.system.pojo.BasicInfo">
    <result property="name" column="name"/>
    <result property="lane" column="lane"/>
    <result property="index" column="index"/>
    <result property="tablet" column="tablet"/>
    <result property="stutter" column="stutter"/>
    <result property="well" column="well"/>
    <result property="a36" column="a36"/>
    <result property="y45" column="y45"/>
  </resultMap>

    <insert id="insertDataBatch" parameterType="java.util.List">
      INSERT INTO basic (`name`,lane,`index`,tablet,stutter,well,a36,y45) VALUES
      <foreach collection="list" separator="," item="sample">
        (#{sample.name},#{sample.lane},#{sample.index},#{sample.tablet},#{sample.stutter},#{sample.well},#{sample.a36},#{sample.y45})
      </foreach>
    </insert>

  <select id="find" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM basic
  </select>

  <select id="searchByName" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
    (SELECT  * FROM `basic` WHERE a36 > #{param2} and y45 > #{param3}) success
    WHERE `name` LIKE #{param1}
  </select>

  <select id="searchByAY" resultType="com.system.pojo.BasicInfo">
    SELECT  * FROM `basic` WHERE a36 >= #{param1} and y45 >= #{param2}
  </select>

  <select id="searchByLane" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
    (SELECT  * FROM `basic` WHERE a36 >= #{param2} and y45 >= #{param3}) success
    WHERE `lane` LIKE #{param1}
  </select>

  <select id="searchByTablet" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
    (SELECT  * FROM `basic` WHERE a36 >= #{param2} and y45 >= #{param3}) success
    WHERE `tablet` LIKE #{param1}
  </select>

  <select id="searchByNL" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
      (SELECT * FROM
        (SELECT  * FROM `basic` WHERE a36 >= #{param3} and y45 >= #{param4}) success
      WHERE `lane` LIKE #{param2}) success1
    WHERE `name` LIKE #{param1}
  </select>

  <select id="searchByNT" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
      (SELECT * FROM
        (SELECT  * FROM `basic` WHERE a36 >= #{param3} and y45 >= #{param4}) success
      WHERE `tablet` LIKE #{param2}) success1
    WHERE `name` LIKE #{param1}
  </select>

  <select id="searchByLT" resultType="com.system.pojo.BasicInfo">
    SELECT * FROM
      (SELECT * FROM
        (SELECT  * FROM `basic` WHERE a36 >= #{param3} and y45 >= #{param4}) success
      WHERE `tablet` LIKE #{param2}) success1
    WHERE `lane` LIKE #{param1}
  </select>

  <select id="searchByBasic" resultType="com.system.pojo.BasicInfo">
     SELECT  * FROM `basic` WHERE `name` LIKE #{param1}
        AND lane LIKE #{param2} AND tablet LIKE #{param3} AND a36 >= #{param4}
          AND y45 >= #{param4}
  </select>

</mapper>
